{% extends 'Admin.html.twig' %}

{% block body %}
    <h1>List des Categories</h1>
<ul class="nav navbar-right panel_toolbox">
    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
    </li>

</ul>
<div class="clearfix"></div>

<div class="x_content">
    <table id="datatable" class="table table-striped table-bordered">


        <thead>
            <tr>

                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorieEvent in categorieEvents %}
            <tr>

                <td>{{ categorieEvent.nom }}</td>
                <td>{{ categorieEvent.description }}</td>
                <td>


                    <a href="{{ path('categorieevent_edit', { 'id': categorieEvent.id }) }}"><button type="button" class="btn btn-danger">Edit</button></a>
                    <a href="{{ path('categorieevent_delete', { 'id': categorieEvent.id }) }}"><button type="button" class="btn btn-danger">Delete</button></a>



                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
